html, body {
    padding: 0;
    margin: 0;
}

.container-left {
    position: absolute;
    left: 0;
    width: 80%;
    height: 100%;
    background-color: #bcbcbc;
    box-shadow: 0 0 5px #00000091;
}

.container-right {
    position: absolute;
    right: 0;
    width: 20%;
    height: 100%;
    line-height:18pt;
    border-left: 1px solid #646464;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#noKey {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #00000091;
    color: #ffffff;
    text-align: center;
    font-size: 24pt;
    line-height: 100%;
}

.container-right > div {
    padding: 12pt;
}